* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f262b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.calculadora {
    background-color: #2a2f36;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#visor {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    background-color: #3d444c;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    background-color: #008000;
    color: #ffffff;
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.numero {
    background-color: #008000;
}

.operacao {
    background-color: #ffcc00;
}

.operacao:last-child {
    background-color: #ff0000;
}

.operacao:nth-child(12) {
    background-color: #0000ff;
}
